<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">


<head th:replace="layouts/header :: header"></head>
<body>

<div class="container">

    <nav th:replace="layouts/navbar :: navbar-default"></nav>

    <article th:each="word : ${words}">
        <header>
            <p th:text="${word.hungarianWordId}">id</p>
            <h1 th:text="${word.hungarianWord}">word</h1>
        </header>

    </article>

    <ul></ul>


    <footer>
        <p>Powered by Me</p>
    </footer>

</div>

</body>
</html>